/neuroConstruct/generatedNeuroML2/LEMS_Test*
*~
/.gitignore~
/neuroConstruct/generatedNeuroML2

/NeuroML2/*.dat
/NeuroML2/LEMS_Test*.xml

*.pyc
*i686
*x86_64
umac
i386
generatedNEURON
generatedGENESIS
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class

NEURON/*.dat
arm64
